@{
    Layout = "~/Views/Shared/_LPages.cshtml";
}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Отзывы</h1>
                <a href="" class="h4 text-white">Домой</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">Отзывы</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Testimonial Start -->
    <div class="container-fluid bg-primary bg-testimonial py-5 mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 90px;">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel rounded p-5 wow zoomIn" data-wow-delay="0.6s">
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto rounded mb-4" src="~/img/testemonial-1.png" alt="">
                            <p class="fs-5">До этого я ходил по разным местам и не мог найти подходящие услуги для себя пока мне на работе не посоветовали данную клинику, спасибо за качественный сервис!</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">Олимпов Зевс</h4>
                        </div>
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto rounded mb-4" src="~/img/testemonial-2.png" alt="">
                            <p class="fs-5">Лучшие цены, лучший сервис, лучшее местоположение, адекватный персонал, спасибо!</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">Довольнов Мигель</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
